/* FONTS */
/* GENERAL */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: "Arial", sans-serif;
  background-color: #fff;
}

img {
  max-width: 100%;
  height: auto;
}

/* VISUALLY-HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* CONTAINER */
.container {
  width: 100%;
  max-width: 1300px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.info__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 20px;
}

.info__item {
  width: 380px;
  height: auto;
  list-style: none;
  border: 1px solid #000;
  border-radius: 8px;
  background-color: #f4f4f4;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) inset 0px 8px 20px;
          box-shadow: rgba(149, 157, 165, 0.2) inset 0px 8px 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding-bottom: 10px;
  opacity: 0;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
}

.info__item:nth-child(1) {
  -webkit-animation: item-anim 0.89s 0.1s both;
          animation: item-anim 0.89s 0.1s both;
}

.info__item:nth-child(2) {
  -webkit-animation: item-anim 0.89s 0.29s both;
          animation: item-anim 0.89s 0.29s both;
}

.info__item:nth-child(3) {
  -webkit-animation: item-anim 0.89s 0.39s both;
          animation: item-anim 0.89s 0.39s both;
}

.info__item:nth-child(4) {
  -webkit-animation: item-anim 0.89s 0.49s both;
          animation: item-anim 0.89s 0.49s both;
}

.info__item:nth-child(5) {
  -webkit-animation: item-anim 0.89s 0.59s both;
          animation: item-anim 0.89s 0.59s both;
}

.info__item:nth-child(6) {
  -webkit-animation: item-anim 0.89s 0.69s both;
          animation: item-anim 0.89s 0.69s both;
}

@-webkit-keyframes item-anim {
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes item-anim {
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

.info__div {
  position: relative;
  padding-left: 35px;
  padding-top: 15px;
}

.info__box {
  margin-right: 15px;
  margin-bottom: 10px;
}

.info__img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.info__name {
  margin: 0 !important;
}

.info__desc {
  margin: 0 !important;
}

.info__company {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 2px;
  color: gray;
}

.info__companyName {
  padding-right: 30px;
}

.remove-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -10%);
          transform: translate(-50%, -10%);
  background-color: transparent;
  border: 1px solid transparent;
  padding: 5px 20px;
  background-color: red !important;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  opacity: 0;
}

.info__item:hover .remove-btn {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
/*# sourceMappingURL=main.css.map */