.info__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 20px;
}

.info__item { 
  width: 380px;
  height: auto;
  list-style: none;
  border: 1px solid #000;
  border-radius: 8px;
  background-color: rgb(244, 244, 244);
  box-shadow: rgba(149, 157, 165, 0.2) inset 0px 8px 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding-bottom: 10px;
  opacity: 0;
  transition: all 0.25s ease;
  transform: translateY(-50px);
}




.info__item:nth-child(1) {
  animation: item-anim 0.89s 0.1s both;
}
.info__item:nth-child(2) {
  animation: item-anim 0.89s 0.29s both;
}
.info__item:nth-child(3) {
  animation: item-anim 0.89s 0.39s both;
}
.info__item:nth-child(4) {
  animation: item-anim 0.89s 0.49s both;
}
.info__item:nth-child(5) {
  animation: item-anim 0.89s 0.59s both;
}
.info__item:nth-child(6) {
  animation: item-anim 0.89s 0.69s both;
}


@keyframes item-anim {
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}


.info__div {
  position: relative;
  padding-left: 35px;
  padding-top: 15px;
}
.info__box {
  margin-right: 15px;
  margin-bottom: 10px;
}

.info__img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.info__name {
  margin: 0 !important;
}

.info__desc {
  margin: 0 !important;
}

.info__company {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 2px;
  color: gray;
}

.info__companyName {
  padding-right: 30px;
}


.remove-btn {
  position: absolute;
  top: 50%;
  left: 50%;  
  transform: translate(-10%, -50%);
  background-color: transparent;
  border: 1px solid transparent;
  padding: 5px 20px;
  background-color: red !important;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  transition: all 0.3s linear;
  opacity: 0;
}
.info__item:hover .remove-btn {
  opacity: 1;
  transform: translate(-50%, -50%);
}




